/* REGISTER STEPS */
.register_steps .nav-tabs {
	border: 0;
	margin: 0px auto 25px auto;
	max-width: 725px;
    text-align: center;
}

.register_steps .nav-tabs > li {
	background: url(../images/register_steps.png) 0px 21px no-repeat;
	color: #a7aaad;
    float: left;
	font-size: 11px;
    display: inline-block;
    *display: inline; /* ie7 fix */
	margin: 0;
	padding: 0;
	text-align: center;
    zoom: 1; /* hasLayout ie7 trigger */
	width: 145px;
}

.register_steps .nav-tabs > li:first-child {
	background: url(../images/register_steps.png) 99px 21px no-repeat;
}

.register_steps .nav-tabs > li:last-child {
	background: url(../images/register_steps.png) -99px 21px no-repeat;
}

.register_steps .nav-tabs > li span {
	background-color: #ffffff;
	border: 2px solid #e3e4e6;
	border-radius: 4px;
	color: #32383d;
	display: inline-block;
	font-size: 15px;
	height: 47px;
	line-height: 43px;
	margin: 0 49px 20px 49px;
	width: 47px;
}

.register_steps .nav-tabs > li.current {
	color: #2a3740;
}

.register_steps .nav-tabs > li.current span {
	background-color: #edeeef;
	color: #32383d;
}

.register_steps .nav-tabs > li.past {
	color: #24b68f;
}

.register_steps .nav-tabs > li.past span {
	background-color: #edeeef;
	color: #24b68f;
}
/* REGISTER STEPS */

/* REGISTER CONTENT */
.registration {
	width: 624px;
}

.registration .row {
	background-color: #ffffff;
	border: 2px solid #e3e4e6;
	border-radius: 4px;
	padding: 10px;
}

.registration .col-md-6,
.registration .col-md-12 {
	padding: 10px;
}

.registration input {
	background-color: #fafafa;
	border: 1px solid #e3e4e6;
	border-radius: 3px;
	height: 40px;
	padding: 12px;
	width: 100%;
}

.registration input:focus {
	border-color: #c0c0c0;
	color: #282d25;
}

.registration input.error {
	background: url(../images/sprite_radio_button.png) right -252px no-repeat;
	border-color: #e74c3c;
	color: #282d25;
}

.registration .error_description {
	color: #e74c3c;
}

.registration a.checker {
	color: #32383d;
	display: inline-block;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	padding-left: 55px;
	background: url(../images/sprite_radio_button.png) 0px -150px no-repeat;
}

.registration a:hover.checker {
	text-decoration: none;
}

.registration a.checked {
	background-position: 0px -200px;
}

.registration .btn-default {
	background-color: #cbcfd3;
	border: 0;
	color: #282d25;
	padding: 10px 0;
	width: 118px;
}

.registration .btn-default:hover {
	background-color: #d0d4d7;
	color: #ffffff;
}

.registration .btn-success {
	background-color: #26cda0;
	border: 0;
	color: #282d25;
	padding: 10px 0;
	width: 118px;
}

.registration .btn-success:hover {
	background-color: #51d7b3;
	color: #ffffff;
}

.registration .popover_content {
	list-style-type: none;
	padding: 0;
}

.registration .popover-title {
	color: #282d25;
	font-weight: 500;
	padding-left: 44px;
}

.registration .popover_content li {
	background: url(../images/sprite_radio_button.png) 0px -400px no-repeat;
	color: #969895;
	margin: 0 0 10px 0;
	padding-left: 30px;
}

.registration .popover_content li.error {
	background: url(../images/sprite_radio_button.png) 0px -300px no-repeat;
	color: #e74c3c;
}

.registration .popover_content li.confirm {
	background: url(../images/sprite_radio_button.png) 0px -350px no-repeat;
	color: #5c605a;
}

.registration .underlined_column {
	border-bottom: 1px solid #e3e4e6;
	line-height: 40px;
	margin-bottom: 10px;
	padding-top: 0;
}

.registration .panel {
	clear: both;
}

.registration .panel-heading {
	background-color: #edeeef;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 13px 15px;
}

.registration .dropdown-toggle {
    box-sizing: border-box;
	float: right;
	width: 45px;
}

.registration .fillsplit {
    position: relative;
}

.registration .dropdown-lead{
    width: 100%;
}

.registration .leadcontainer {
    left: 0;
    position: absolute;
    right: 45px;
}

.registration .dropdown-toggle .caret {
	border-top-color: #000000;
	margin-left: 6px;
}

.registration .fillsplit .btn-primary {
	background-color: #fafafa;
	border-color: #e3e4e6;
	border-radius: 2px;
	color: #828486;
	height: 45px;
	line-height: 35px;
	text-align: left;
}

.registration .review span {
	color: #000000;
	font-weight: 600;
}

.registration .just_checked {
	background: url(../images/sprite_radio_button.png) 0px -450px no-repeat;
	padding-left: 45px;
}

.registration .scroller {
	max-height: 310px;
	overflow-y: scroll;
}

.registration .col-md-4 .btn-success,
.registration .col-md-4 .btn-default {
	font-size: 12px;
	width: 160px;
}

.registration ul.info_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.registration ul.info_list li {
	background: url(../images/sprite_radio_button.png) -35px -500px no-repeat;
	color: #848689;
	line-height: 25px;
	margin-top: 35px;
	padding-left: 40px;
}

.eimza_title {
	background: url(../images/sprite_radio_button.png) 10px -543px no-repeat;
}

.sifre_title {
	background: url(../images/sprite_radio_button.png) 10px -593px no-repeat;
}

.eimza_title h3 {
	padding-left: 45px;
}

.eimza_title a,
.sifre_title a {
	background: url(../images/sprite_radio_button.png) right -665px no-repeat;
	display: inline-block;
	padding-left: 45px;
	width: 100%;
}

.eimza_title a.toggle_on,
.sifre_title a.toggle_on {
	background: url(../images/sprite_radio_button.png) right -715px no-repeat;
}

.eimza_title a:hover,
.sifre_title a:hover {
	text-decoration: none;
}

.registration .confirmation_column h4,
.registration .confirmation_row {
	color: #24b68f;
	font-size: 17px;
	font-weight: 300;
}

.registration .confirmation_column p {
	line-height: 26px;
	margin: 0;
	padding: 0;
}

.registration .confirmation_column ul {
	list-style-type: none;
	padding: 0;
}

.registration .confirmation_column ul li {
	line-height: 26px;
	margin: 0;
	padding: 0;
}

.registration .confirmation_icon img {
	margin: 20px 0 23px 0;
}

.login .helper-links a {
	color: #24b68f;
	margin-right: 35px;
}

.login .helper-links a:hover {
	text-decoration: none;
}

.login_tabs {
	margin-bottom: 60px;
}

.login_tabs .nav-tabs {
	border-radius: 4px;
}

.login_tabs .nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
	padding: 0;
    zoom: 1; /* hasLayout ie7 trigger */
	width: 49%;
}

.login_tabs .nav-tabs > li.active > a {
	background-color: #edeeef;
}

.login_tabs .nav-tabs > li.active > a:hover {
	background-color: #edeeef;
}
/* REGISTER CONTENT */