.sepet {
	padding: 60px 20px 10px 20px;
}

.sepet h1 {
	border-bottom: 1px solid #dee0e2;
	color: #4d565c;
	font-size: 20px;
	font-weight: 300;
	height: 65px;
	line-height: 64px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.sepet .sepet-row {
	border-bottom: 1px solid #dee0e2;
	height: 110px;
}

.sepet-row .urun-resim {
	float: left;
	height: 109px;
	padding: 22px 0 0 20px;
	width: 120px;
}

.sepet-row .urun-detay {
	float: left;
	height: 109px;
	padding: 18px 0 0 0;
	width: 542px;
}

	.sepet-row .urun-detay .detay-baslik {
		color: #2a3740;
		font-size: 20px;
		margin-bottom: 13px;
	}

	.sepet-row .urun-detay .detay-baslik span {
		color: #71787c;
	}

	.sepet-row .urun-detay p {
		color: #71787c;
		font-size: 13px;
		margin: 0 0 3px 0;
		padding: 0;
	}

.sepet-row .urun-fiyat {
	color: #71787c;
	float: left;
	font-size: 14px;
	height: 109px;
	padding: 22px 0 0 0;
	width: 110px;
}

	.sepet-row .urun-fiyat span {
		font-size: 18px;
	}

.sepet-row .urun-adet {
	float: left;
	height: 109px;
	padding: 16px 0 0 0;
	width: 82px;
}

	.sepet-row .urun-adet input {
		border: 2px solid #e3e4e6;
		border-radius: 3px;
		color: #71787c;
		font-size: 16px;
		height: 37px;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 82px;
	}

.sepet-row .urun-toplam {
	color: #2a3740;
	float: left;
	font-size: 20px;
	height: 64px;
	padding: 22px 20px 0 0;
	text-align: right;
	width: 170px;
}

.sepet-row .urun-actions {
	float: left;
	height: 32px;
	padding-right: 20px;
	text-align: right;
	width: 170px;
}

	.sepet-row .urun-actions a {
		color: #71787c;
		display: inline-block;
		font-size: 13px;
		height: 32px;
		line-height: 32px;
	}
	
	.sepet-row .urun-actions a:hover {
		color: #24b68f;
		text-decoration: none;
	}

	.sepet-row .urun-actions a:first-child {
		padding-right: 16px;
	}

	.sepet-row .urun-actions a:last-child {
		border-left: 1px solid #dee0e2;
		width: 62px;
	}	

.sepet .sepet-ozeti {
	border-bottom: 1px solid #dee0e2;
	margin-bottom: 20px;
	padding: 25px 20px;
}

.sepet .sepet-ozeti .sepet-not {
	background-color: #f7f7f7;
	border: 1px solid #d4d8db;
	border-radius: 3px;
	float: left;
	height: 87px;
	width: 445px;
	padding: 20px 0 20px 20px;
}

.sepet .sepet-ozeti .sepet-not input {
	background: url(../images/sprite_radio_button.png) 295px -492px no-repeat;
	border: 1px solid #d4d8db;
	border-radius: 3px;
	float: left;
	height: 45px;
	margin: 0;
	padding: 0 0 0 19px;
	width: 370px;
}

.sepet .sepet-ozeti .sepet-not input.input_error {
	border: 1px solid #e74c3c;
}

.sepet .sepet-ozeti .sepet-not span {
	color: #b8bcbe;
	display: block;
	float: left;
	height: 45px;
	line-height: 45px;
	text-align: center;
	width: 53px;
}

.sepet .sepet-ozeti .sepet-uyari {
	color: #e74c3c;
	float: left;
	font-size: 12px;
	height: 87px;
	padding: 20px 0 0 12px;
	width: 125px;
}

.sepet .sepet-ozeti .sepet-toplam {
	float: right;
	width: 280px;
}

.sepet .sepet-ozeti .sepet-toplam .toplam-cell {
	color: #b4b8ba;
	float: left;
	font-size: 16px;
	height: 30px;
	text-align: right;
	width: 140px;
}

.sepet .sepet-ozeti .sepet-toplam .grand {
	color: #2a3740;
	font-size: 20px;
}

.sepet .sepet-butonlar {
	padding: 0 20px 50px 20px;
}

.sepet .sepet-butonlar a {
	border: 0;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding: 0;
}

.sepet .sepet-butonlar a.btn-default {
	background-color: #b6babd;
	color: #fff;
	margin-right: 15px;
	width: 145px;
}

.sepet .sepet-butonlar a:hover.btn-default {
	background-color: #22b890;
}

.sepet .sepet-butonlar a.btn-primary {
	background-color: #22b890;
	border: 0;
	color: #282d25;
	width: 175px;
}

.sepet .sepet-butonlar a:hover.btn-primary {
	color: #fff;
}

/* CHECKOUT STEPS */
.checkout_steps {
	margin-top: 15px;
}

.checkout_steps .nav-tabs {
	border: 0;
	margin: 0px auto 25px auto;
	max-width: 725px;
    text-align: center;
}

.checkout_steps .nav-tabs > li {
	background: url(../images/register_steps.png) 0px 21px no-repeat;
	color: #a7aaad;
    float: left;
	font-size: 11px;
    display: inline-block;
    *display: inline; /* ie7 fix */
	margin: 0;
	padding: 0;
	text-align: center;
    zoom: 1; /* hasLayout ie7 trigger */
	width: 145px;
}

.checkout_steps .nav-tabs > li:first-child {
	background: url(../images/register_steps.png) 99px 21px no-repeat;
}

.checkout_steps .nav-tabs > li:last-child {
	background: url(../images/register_steps.png) -99px 21px no-repeat;
}

.checkout_steps .nav-tabs > li span {
	background-color: #ffffff;
	border: 2px solid #e3e4e6;
	border-radius: 4px;
	color: #32383d;
	display: inline-block;
	font-size: 15px;
	height: 47px;
	line-height: 43px;
	margin: 0 49px 20px 49px;
	width: 47px;
}

.checkout_steps .nav-tabs > li.current {
	color: #2a3740;
}

.checkout_steps .nav-tabs > li.current span {
	background-color: #edeeef;
	color: #32383d;
}

.checkout_steps .nav-tabs > li.past {
	color: #24b68f;
}

.checkout_steps .nav-tabs > li.past span {
	background-color: #edeeef;
	color: #24b68f;
}
/* CHECKOUT STEPS */

.checkout_container {
	margin: 0 auto;
	width: 580px;
}

.checkout_container .col-md-6,
.checkout_container .col-md-12 {
	padding: 10px;
}

.checkout_container .underlined_column {
	border-bottom: 1px solid #e3e4e6;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 0;
}

.checkout_container a.btn {
	border: none;
	height: 41px;
	line-height: 41px;
	padding: 0px;
	width: 128px;
}

.checkout_container a.btn-default {
	background-color: #b6babd;
	color: #fff;
}

.checkout_container a.btn-success {
	background-color: #26cda0;
	color: #282d25;
}

.checkout_space {
	padding: 110px 0 30px 0 !important;
	text-align: center;
}

.checkout_container input[type="text"] {
	border: 1px solid #e3e4e6;
	border-radius: 2px;
	color: #939699;
	height: 45px;
	margin: 0;
	padding: 0 0 0 14px;
	width: 100%;
}

.sepet .dropdown-toggle {
    box-sizing: border-box !important;
	float: right !important;
	width: 45px !important;
}

.sepet .fillsplit {
    position: relative !important;
}

.sepet .dropdown-lead{
    width: 100% !important;
}

.sepet .leadcontainer {
    left: 0 !important;
    position: absolute !important;
    right: 45px !important;
}

.sepet .dropdown-toggle .caret {
	border-top-color: #000000 !important;
	margin-left: 6px !important;
}

.sepet .fillsplit .btn-primary {
	background-color: #fafafa !important;
	border: 1px solid #e3e4e6 !important;
	border-radius: 2px !important;
	color: #828486 !important;
	height: 45px !important;
	line-height: 43px !important;
	padding-left: 14px !important;
	text-align: left !important;
}

.sepet a.checker {
	color: #32383d;
	display: inline-block;
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	padding-left: 55px;
	background: url(../images/sprite_radio_button.png) 0px -150px no-repeat;
}

.sepet a:hover.checker {
	text-decoration: none;
}

.sepet a.checked {
	background-position: 0px -200px;
}

.checkout_container .input_group {
	background-color: #fff;
	border: 1px solid #e3e4e6;
}

.checkout_container .input_group input {
	background-color: #fafafa !important;
}

.checkout_container .landing_tabs .nav-tabs {
	border: 2px solid #26cda0;
	border-radius: 8px;
	margin: 0px auto;
    text-align: center;
}

.checkout_container .landing_tabs .nav-tabs > li {
	width: 155px;
}

.checkout_container .landing_tabs .nav-tabs > li > a {
	background: none;
	border: 0;
	border-right: 1px solid #26cda0;
	border-radius: 0;
	color: #a7a8a6;
}

.checkout_container .landing_tabs .nav-tabs li:last-child a,
.checkout_container .landing_tabs .nav-tabs li:last-child a:hover {
	border: 0;
}

.checkout_container .landing_tabs .nav-tabs > li.active > a {
	color: #000000;
}

.checkout_container .landing_tabs .nav-tabs > li.active > a:hover {
	color: #000000;
}

.checkout_container .tutar_bilgi {
	font-size: 17px;
	margin-bottom: 0;
	padding-top: 15px;
}

.checkout_container .select_option {
	height: 40px;
	line-height: 39px;
	margin: 0;
	padding: 0;
}

.checkout_container .select_option.last {
	margin-bottom: 25px;
}

.checkout_container .select_option a {
	background: url(../images/sprite_radio_button.png) 10px 8px no-repeat;
	color: #32383d;
	display: block;
	height: 40px;
	font-size: 16px;
	padding-left: 43px;
}

.checkout_container .select_option a.active {
	background: url(../images/sprite_radio_button.png) 10px -342px no-repeat;
}

.checkout_container .select_option a:hover {
	text-decoration: none;
}

.checkout_container .kk_bilgi {
	margin: 0 auto;
	padding: 13px 0;
	width: 500px;
}

.checkout_container .kk_bilgi .col-md-6 {
	padding: 0 15px;
}

.checkout_container .kk_bilgi input.cvc {
	padding: 0;
	text-align: center;
}