input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER */
.navbar-brand {
	height: 110px;
	line-height: 110px;
	padding: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar .nav {
	padding-top: 32px;
}

.navbar .nav > li > a {
	border: 2px solid #bec0bd;
	border-radius: 5px;
	color: #282d25;
	float: none;
	font-size: 14px;
	line-height: 42px;
	padding: 0 27px;
	text-decoration: none;
	text-shadow: none;
}

.navbar .nav > li > a:hover {
	background-color: #ffffff;
	border: 2px solid #24b68f;
	color: #24b68f;
}
/* HEADER */

/* YENI UYE KAYIT */
.jumbotron {
	background: #2a3740 url(../images/background.jpg) top center no-repeat;
	min-height: 490px;
	padding: 0;
}

.jumbotron .yeni_uye h1 {
	color: #ffffff;
	font-size: 36px;
	font-weight: normal;
	padding: 25px 0 0 0;
	text-align: center;
}

.jumbotron .yeni_uye p {
	color: #bfc1c3;
	font-size: 17px;
	text-align: center;
}

.jumbotron .yeni_uye .uye_tipi {
	padding-top: 50px;
}

.jumbotron .yeni_uye .uye_tipi h2 {
	color: #ffffff;
	font-size: 21px;
	font-weight: normal;
	text-align: center;
}

.jumbotron .yeni_uye .uye_tipi p {
	color: #c6c3c2;
	font-size: 14px;
	text-align: center;
}

.jumbotron .yeni_uye .uye_tipi p a.btn-default {
	background-color: #26cda0;
	border: 0px;
	color: #282d25;
	font-size: 20px;
	line-height: 45px;
	padding: 0px 20px;
}

.jumbotron .yeni_uye .uye_tipi p a:hover.btn-default {
	color: #ffffff;
}
/* YENI UYE KAYIT */

/* TABS */
.nav-tabs {
	border: 2px solid #d0d1cf;
	border-radius: 8px;
	margin: 0px auto;
	max-width: 480px;
    text-align: center;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
	padding: 4px 0;
    zoom: 1; /* hasLayout ie7 trigger */
	width: 30%;
}

.nav-tabs > li > a {
	background: none;
	border: 0;
	border-right: 2px solid #e5e5e4;
	color: #a7a8a6;
}

.nav-tabs > li > a:hover {
	background: none;
	border: 0;
	border-right: 2px solid #e5e5e4;
	color: #000000;
}

.nav-tabs > li.active > a {
	background: none;
	border: 0;
	border-right: 2px solid #e5e5e4;
	color: #000000;
}

.nav-tabs > li.active > a:hover {
	background: none;
	border: 0;
	border-right: 2px solid #e5e5e4;
	color: #000000;
}

.nav-tabs li:last-child a,
.nav-tabs li:last-child a:hover {
	border: 0;
}
/* TABS */

/* TAB CONTENTS */
.tab-content {
	margin-bottom: 30px;
	padding-top: 30px;
}
.tab-content .lead {
	font-size: 15px;
	line-height: 26px;
	margin: 0px auto;
	margin-bottom: 30px;
	max-width: 550px;
	text-align: center;
}

.tab_yardim h3 {
	font-size: 15px;
}

.tab_yardim p {
	color: #24b68f;
	font-size: 15px;
	line-height: 36px;
}

.tab_yardim p .btn-default {
	border: 2px solid #c6c7c4;
	border-radius: 5px;
	color: #666965;
	padding: 10px 15px;
}

.tab_yardim p a:hover.btn-default {
	background-color: #ffffff;
	border-color: #26cda0;
	color: #26cda0;
}

.tab_yardim .col-md-4 {
	border-right: 1px solid #d0d1cf;
	border-top: 1px solid #d0d1cf;
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 30px;
}

#guvenlik h2 {
	color: #24b68f;
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px 0;
	padding: 0;
	text-align: center;
}

.tab_guvenlik .col-md-6 {
	border-right: 1px solid #d0d1cf;
	border-top: 1px solid #d0d1cf;
	padding-left: 0px;
	padding-right: 40px;
	padding-top: 30px;
}

.tab_guvenlik li {
	color: #24b68f;
	line-height: 24px;
	list-style: square;
	margin-bottom: 25px;
}

.tab_guvenlik li span { color: #333333; }

.tab_guvenlik li a { color: #24b68f; }
.tab_guvenlik li a:hover { text-decoration: underline; }

.tab_iletisim .col-md-6 {
	border-right: 1px solid #d0d1cf;
	padding-left: 35px;
	padding-right: 40px;
}

.tab_yardim div:last-child,
.tab_guvenlik div:last-child,
.tab_iletisim div:last-child {
	border-right: 0px;
}

#bize_ulasin h2 {
	color: #24b68f;
	font-size: 22px;
	font-weight: 300;
	margin: 0 0 25px 0;
	padding: 0;
	text-align: left;
}

.tab_iletisim p {
	line-height: 26px;
	margin-bottom: 30px;
}

.tab_iletisim .form_box .col-md-6,
.tab_iletisim .form_box .col-md-12 {
	border: 0;
	margin-bottom: 24px;
	padding: 0;
}

.form_box input {
	border: 1px solid #e3e4e6;
	border-radius: 5px;
	height: 40px;
	padding: 12px;
}

.form_box input.input-lg {
	margin-right: 12px;
	width: 240px;
}

.form_box input.input-sm {
	width: 140px;
}

.form_box input.input-md {
	width: 190px;
}

.form_box input.input-first {
	margin-right: 12px;
}

.form_box input.input-sm,
.form_box input.input-md,
.form_box input.input-lg,
.form_box textarea {
	color: #80827f;
	font-size: 15px;
}

.form_box input:focus.input-sm,
.form_box input:focus.input-md,
.form_box input:focus.input-lg,
.form_box textarea:focus {
	border-color: #c0c0c0;
	color: #282d25;
}

.form_box textarea {
	border: 1px solid #e3e4e6;
	border-radius: 5px;
	height: 102px;
	padding: 12px;
	width: 394px;
}

.form_box .btn {
	background-color: #26cda0;
	border: 0;
	color: #282d25;
	outline: none;
	padding: 12px 25px;
}

.form_box .btn:hover {
	background-color: #50d6b2;
	border: 0;
	color: #ffffff;
	outline: none;
}

.form_box .btn:active {
	background-color: #22b890;
	border: 0;
	color: #ffffff;
	outline: none;
}

.form_box a.musteri_selector {
	background: url(../images/sprite_radio_button.png) no-repeat;
	color: #7e807d;
	display: block;
	height: 20px;
	line-height: 20px;
	padding-left: 32px;
}

.form_box a:hover.musteri_selector {
	background: url(../images/sprite_radio_button.png) 0px -50px no-repeat;
	color: #7e807d;
	text-decoration: none;
}

.form_box a.musteri_selected,
.form_box a:hover.musteri_selected {
	background: url(../images/sprite_radio_button.png) 0px -100px no-repeat;
	color: #7e807d;
	text-decoration: none;
}
/* TAB CONTENTS */

/* FOOTER */
.footer {
	background-color: #2a3740;
	border-top: 4px solid #555f66;
	color: #82878b;
	font-size: 11px;
	height: 56px;
	line-height: 56px;
}

.footer .nav > li > a {
	color: #82878b;
}

.footer .nav > li > a:hover {
	background: none;
	color: #c7c9ca;
}
/* FOOTER */